* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}



body {
    background-color: lightblue;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: black;
    padding: 20px 0;
    color: #fff;
    text-align: center;
}

h1 {
    font-size: 2.5em;
}

.contact-section {
    padding: 50px 0;
}

.contact-form {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.contact-form label {
    font-size: 1.1em;
    margin-bottom: 8px;
    display: block;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.contact-form button {
    background-color: #5c67f2;
    color: white;
    padding: 12px 20px;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #4a54e1;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 1em;
}
