.hero-section {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    width: 80%;
    margin: 0 auto;
    gap: 20px;
}

.hero-section img {
    max-width: 100%; 
    height: auto; 
    width: 30%; 
}

.hero-section .text {
    width: 55%; 
    font-size: 1.2rem; 
    line-height: 1.6; 
    color: #333;
}
